<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
</head>
<body>
<div th:fragment="footer">
        <footer>
            <div sec:authorize="isAnonymous()">
                <a th:href="@{/login}" th:text="'login'">login</a> |
                <a th:href="@{/registration}" th:text="'register'">register</a>
            </div>

            <div sec:authorize="isAuthenticated()">
                <p>Logged user: <span sec:authentication="name"/> |
                    <a th:href="@{/logout}">Sign Out</a></p>
            </div>
        </footer>
</div>
</body>
</html>