<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
</head>
<body>
<div th:fragment="footer">
        <footer>
            <a th:href="@{/login}" th:text="'login screen'">login</a>
            <a th:href="@{/registration}" th:text="'register'">login</a>
            <span sec:authorize="isAuthenticated()">
                <p>Logged user: <span sec:authentication="name"/> |

                    <a th:href="@{/logout}">Sign Out</a></p>
<!--                <form th:action="@{/logout}" method="post">-->
<!--                    <input type="submit" value="Sign Out"/>-->
<!--                </form>-->
            </span>
        </footer>
</div>
</body>
</html>