<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="percentCorrectionText" th:remove="tag">
    <script>
        document.addEventListener("DOMContentLoaded", function () {

            var percent = document.querySelectorAll('.percentage');

            percent.forEach(function (e) {
                if (!isNaN(parseFloat(e.innerText))) {
                    e.innerText = (Math.round(parseFloat(e.innerText) * 1000) / 10) + "%";
                }
            });
        });
    </script>
</div>

<div th:fragment="percentCorrectionForm" th:remove="tag">
    <script>
        document.addEventListener("DOMContentLoaded", function () {

            var percent = document.querySelectorAll('.percentage');

            percent.forEach(function (e) {
                if (!isNaN(e.value) && e.value !== null) {
                    e.value = Math.round(e.value * 1000) / 10
                }
            });

            document.getElementById('form').addEventListener('submit', function (f) {
                percent.forEach(function (e) {
                    e.value = e.value / 100
                })
            });
        });
    </script>
</div>

<div th:fragment="infoModal" th:remove="tag">
    <div th:if="${expiredData == 'productId'}" th:remove="tag">
        <script type="text/javascript">
            document.addEventListener("DOMContentLoaded", function () {
                $('#myModal').modal('show');
            });
        </script>
    </div>
</div>

</html>

