<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Home</title>
    <div th:replace="fragments/headerFooter::header-scripts "/>
    <div th:replace="fragments/headerFooter::chart-js-lib"/>

    <div th:replace="fragments/summaryCharts::charts"/>

</head>

<body>

<div th:replace="fragments/headerFooter:: navbar"/>

<div class="container">
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-8">

            <h3>
                <span th:text="#{summary.message.welcome}"></span><span th:text="${userName}"></span>!
            </h3>

            <div style="margin-top: 1rem"></div>

            <div th:unless="${products}" th:remove="tag">
                <span th:text="#{summary.message.noProducts}"></span>
            </div>

            <div th:if="${products}" th:remove="tag">
                <p>
                    <span th:text="#{summary.message.actualValue}"></span>
                    <strong>
                        <span th:text="${currentValue}"></span>
                        <span th:text="#{local.currency}"></span>
                    </strong>
                </p>
                <div th:if="${gainOneMonthAgo==0}" th:remove="tag">
                    <p th:text="#{summary.message.zeroMonthGain1}">
                </div>

                <div th:unless="${gainOneMonthAgo==0}" th:remove="tag">
                    <p>
                        <span th:text="#{summary.message.monthGain1}"></span>
                        <strong>
                            <span th:text="${gainOneMonthAgo}"></span>
                            <span th:text="#{local.currency}"></span>
                        </strong>
                    </p>
                    <div th:if="${gainOneMonthAgo==gainThreeMonthsAgo}" th:remove="tag">
                        <p th:text="#{summary.message.zeroMonthGain3}">
                    </div>

                    <div th:unless="${gainOneMonthAgo==gainThreeMonthsAgo}" th:remove="tag">
                        <p>
                            <span th:text="#{summary.message.monthGain3}"></span>
                            <strong>
                                <span th:text="${gainThreeMonthsAgo}"></span>
                                <span th:text="#{local.currency}"></span>
                            </strong>
                        </p>

                        <div th:if="${gainThreeMonthsAgo==gainTwelveMonthsAgo}" th:remove="tag">
                            <p th:text="#{summary.message.zeroMonthGain12}">
                        </div>
                        <div th:unless="${gainThreeMonthsAgo==gainTwelveMonthsAgo}" th:remove="tag">
                            <p>
                                <span th:text="#{summary.message.monthGain12}"></span>
                                <strong>
                                    <span th:text="${gainTwelveMonthsAgo}"></span>
                                    <span th:text="#{local.currency}"></span>
                                </strong>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-2"></div>
        </div>
    </div>

    <div th:if="${products}" th:remove="tag">
        <div class="row">
            <div class="col-sm">
                <h4 th:text="#{summary.title}" class="text-center">Summary</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-8">
                <h6 th:text="#{summary.chart.value}" class="text-center">value chart</h6>
            </div>
            <div class="col-sm-2"></div>
        </div>
        <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-8">
                <canvas id="valueChart"></canvas>
            </div>
            <div class="col-sm-2"></div>
        </div>
        <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-8">
                <h6 th:text="#{summary.chart.gain}" class="text-center">gain chart</h6>
            </div>
            <div class="col-sm-2"></div>
        </div>
        <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-8">
                <canvas id="gainChart"></canvas>
            </div>
            <div class="col-sm-2"></div>
        </div>
    </div>
    <div th:replace="fragments/headerFooter:: footer"/>
</div>
</body>
</html>
