<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title th:text="product.title"></title>
    <div th:replace="fragments/headerFooter::header-scripts "/>
</head>
<body>

<div th:replace="fragments/headerFooter:: navbar"/>

<div class="container">

    <h4 th:text="#{product.chooseMessage}" class="text-center">Choose the product</h4>

    <div class="row" style="margin-top: 1rem">
        <div class="col-md-3"></div>
        <div class="col-md-3">
            <a th:href="@{/product/add/investment}">
                <div class="card bg-info" id="product-investment" style="cursor:pointer">
                    <div class="card-body text-center">
                        <p class="card-text text-white font-weight-bold" th:text="#{product.investment}">Investment</p>
                    </div>
                </div>
            </a>
        </div>

        <div class="col-md-3">
            <a th:href="@{/product/add/savings-account}">
                <div class="card bg-info" id="product-savings-account" style="cursor:pointer">
                    <div class="card-body text-center">
                        <p class="card-text text-white font-weight-bold" th:text="#{product.savingsAccount}">Savings
                            account</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-3"></div>
    </div>

    <div th:replace="fragments/headerFooter:: footer"/>
</div>
</body>
</html>
