<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title th:text="#{product.add.title.investment}">Title</title>
    <div th:replace="fragments/header::header-scripts "/>
    <div th:replace="fragments/js:: percent-correction"/>
</head>
<body>

<div th:replace="fragments/header:: navbar"/>

<div class="container">

    <div class="row" style="margin-top: 1rem">

        <div class="col-sm-3"></div>
        <div class="col-sm-6">
            <form action="/product/add/savings-account" th:object="${product}" method="POST" enctype="utf8" id="form">
                <input type="hidden" th:field="*{id}">

                <div th:replace="productFormInvestment:: bankInputRow"/>
                <div th:replace="productFormInvestment:: valueInputRow"/>
                <div th:replace="productFormInvestment:: interestInputRow"/>
                <div th:replace="productFormInvestment:: openDateInputRow"/>

                <div class="form-group">
                    <label class="bmd-label-floating" th:text="#{product.add.validityDate}">validityDate</label>
                    <input type="date" th:field="*{validityDate}" class="form-control"/>
                    <p th:each="error: ${#fields.errors('validityDate')}" th:text="${error}"></p>
                </div>

                <div class="form-group">
                    <label class="bmd-label-floating" th:text="#{product.add.valueLimit}">valueLimit</label>
                    <input type="number" min="1" step="0.01" th:field="*{valueLimit}" class="form-control"/>
                    <p th:each="error: ${#fields.errors('valueLimit')}" th:text="${error}"></p>
                </div>

                <div class="form-group">
                    <label class="bmd-label-floating"
                           th:text="#{product.add.interestAboveLimit}">interestAboveLimit</label>
                    <input type="number" min="0" max="100" step="0.1" th:field="*{interestAboveLimit}"
                           class="percentage form-control"/>
                    <p th:each="error: ${#fields.errors('interestAboveLimit')}" th:text="${error}"></p>
                </div>

                <div th:replace="productFormInvestment:: notesInputRow"/>
                <div th:replace="productFormInvestment:: submitBtn"/>
            </form>
        </div>

        <div class="col-sm-3"></div>
    </div>

    <div th:replace="fragments/footer:: footer"/>
</div>
</body>
</html>



