<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title th:text="#{product.investment}">Title</title>
    <div th:replace="fragments/headerFooter::header-scripts "/>
    <div th:replace="fragments/minorJs:: percentCorrectionForm"/>

</head>
<body>

<div th:replace="fragments/headerFooter:: navbar"/>

<div class="container">

    <div class="row" style="margin-top: 1rem">

        <div class="col-sm-3"></div>
        <div class="col-sm-6">
            <form action="/product/add/savings-account" th:object="${product}" method="POST" enctype="utf8" id="form">
                <input type="hidden" th:field="*{id}">

                <div th:replace="productFormInvestment:: bankInputRow"/>
                <div th:replace="productFormInvestment:: valueInputRow"/>
                <div th:replace="productFormInvestment:: interestInputRow"/>
                <div th:replace="productFormInvestment:: openDateInputRow"/>
7
                <div class="form-group">
                    <label class="bmd-label-floating" th:text="#{product.validityDate}">validityDate</label>
                    <input type="month" name="lastValidMonth" class="form-control" id="month"
                           th:min="${#dates.format(#dates.create(#dates.year(#dates.createNow())
                            ,#dates.month(#dates.createNow())+1,1),'yyyy-MM')}" required/>

                    <p th:each="error: ${#fields.errors('validityDate')}" th:text="${error}"></p>
                </div>
                <div class="form-group">
                    <label class="bmd-label-floating" th:text="#{product.valueLimit}">valueLimit</label>
                    <input type="number" min="1" step="0.01" th:field="*{valueLimit}" class="form-control required"/>
                    <p th:each="error: ${#fields.errors('valueLimit')}" th:text="${error}"></p>
                </div>

                <div class="form-group">
                    <label class="bmd-label-floating"
                           th:text="#{product.interestAboveLimit}">interestAboveLimit</label>
                    <input type="number" min="0" max="100" step="0.1" th:field="*{interestAboveLimit}"
                           class="percentage form-control" required/>
                    <p th:each="error: ${#fields.errors('interestAboveLimit')}" th:text="${error}"></p>
                </div>

                <div th:replace="productFormInvestment:: notesInputRow"/>
                <div th:replace="productFormInvestment:: submitBtn"/>

                <p th:each="error : ${#fields.globalErrors()}" th:text="${error}">Validation error</p>
            </form>
        </div>

        <div class="col-sm-3"></div>
    </div>

    <div th:replace="fragments/headerFooter:: footer"/>
</div>
</body>
</html>



