<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title th:text="#{product.product}">Title</title>
    <div th:replace="fragments/headerFooter::header-scripts"/>
    <div th:replace="fragments/minorJs:: percentCorrectionText"/>

</head>
<body>

<div th:replace="fragments/headerFooter:: navbar"/>
<!--<div th:replace="fragments/headerFooter:: debugStyle"/>-->

<div class="container">
    <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-6">
            <div class="row">
                <div class="col text-center">
                    <form action="/product/all" method="get">
                        <input class="btn btn-primary" type="submit" th:value="#{form.button.goBack}">
                    </form>
                </div>
                <div class="col text-center">
                    <form action="/product/delete" method="post">
                        <input type="hidden" name="id" th:value="${product.id}">
                        <input type="submit" class="btn btn-danger" th:value="#{form.button.delete}">
                    </form>
                </div>
            </div>
            <table class="table table-hover">
                <tr>
                    <th th:text="#{product.bank}">bank</th>
                    <td th:text="${product.bank}"></td>
                </tr>
                <tr>
                    <th th:text="#{product.value}">value</th>
                    <td th:text="${product.value}"></td>
                </tr>
                <tr>
                    <th th:text="#{product.openDate}">open_date</th>
                    <td th:text="${product.openDate}"></td>
                </tr>
                <tr>
                    <th th:text="#{product.interest}">interest</th>
                    <td th:text="${product.interest}" class="percentage"></td>
                </tr>
                <tr>
                    <th th:text="#{product.monthsValid}">months_valid</th>
                    <td th:text="${product.monthsValid}"></td>
                </tr>
                <tr>
                    <th th:text="#{product.isActive}">is_active</th>
                    <td th:text="${product.isActive}"></td>
                </tr>
                <tr>
                    <th th:text="#{product.notes}">notes</th>
                    <td th:text="${product.notes}"></td>
                </tr>

            </table>
            <h6 class="text-center" th:text="#{action.associatedOperations}"
                style="margin-top: 0.5rem; margin-bottom: 0.5rem">Associated operations:</h6>

            <table class="table table-hover">
                <tr>
                    <th th:text="#{action.actionType}">actionType</th>
                    <th th:text="#{action.actionDate}">actionDate</th>
                    <th th:text="#{action.afterActionValue}">afterActionValue</th>
                </tr>
                <tr th:each="action: ${product.actions}">
                    <th:block th:switch="${action.actionType}">
                        <td th:case="${T(pl.zajacp.investmentmanager.actionmanagement.ActionType).PRODUCT_OPEN}"
                            th:text="#{product.productOpen}"></td>
                        <td th:case="${T(pl.zajacp.investmentmanager.actionmanagement.ActionType).PRODUCT_CLOSE}"
                            th:text="#{product.investmentEnd}"></td>
                    </th:block>
                    <td th:text="${action.actionDate}"></td>
                    <td th:text="${action.afterActionValue}"></td>
                </tr>

            </table>


        </div>
        <div class="col-sm-3"></div>

        <!--        <div class="col-sm-3"></div>-->


    </div>
    <div th:replace="fragments/headerFooter:: footer"/>
</div>
</body>
</html>



