<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Home</title>
    <div th:replace="fragments/headerFooter::header-scripts "/>
    <div th:replace="fragments/js:: percentCorrectionText"/>
    <div th:replace="fragments/js:: infoModal"/>
</head>

<body>

<div th:replace="fragments/headerFooter:: navbar"/>

<div class="container">
    <h4 class="text-center" th:text="#{product.investments}" style="margin-bottom: 1rem">Short term investments</h4>
    <div class="table-responsive">
        <table class="table table-hover">
            <tr>
<!--                <th th:text="#{product.created}">created</th>-->
<!--                <th th:text="#{product.id}">id</th>-->
                <th th:text="#{product.bank}">bank</th>
                <th th:text="#{product.value}">value</th>
                <th th:text="#{product.openDate}">open_date</th>
                <th th:text="#{product.interest}">interest</th>
                <th th:text="#{product.monthsValid}">months_valid</th>
                <th th:text="#{product.isActive}">is_active</th>
                <th th:text="#{product.notes}">notes</th>
                <th th:text="#{product.actions}">actions</th>

            </tr>
            <tr th:each="investment: ${investments}">
<!--                <td th:text="${investment.created}"></td>-->
<!--                <td th:text="${investment.id}"></td>-->
                <td th:text="${investment.bank}"></td>
                <td th:text="${investment.value}"></td>
                <td th:text="${investment.openDate}"></td>
                <td th:text="${investment.interest}" class="percentage"></td>
                <td th:text="${investment.monthsValid}"></td>
                <td th:text="${investment.isActive}"></td>
                <td th:text="${investment.notes}"></td>
                <td>
                    <form action="/product/delete" method="post">
                        <input type="hidden" name="id" th:value="${investment.id}">
                        <input type="submit" class="btn btn-danger" value="Delete">
                    </form>
                    <form action="/product/details" method="post">
                        <input type="hidden" name="id" th:value="${investment.id}">
                        <input class="btn btn-info" type="submit" value="Details">
                    </form>
                </td>
            </tr>

        </table>
    </div>
    <h4 class="text-center" th:text="#{product.savingsAccounts}" style="margin-bottom: 1rem">Savings accounts</h4>
    <div class="table-responsive">
        <table class="table table-hover">
            <tr>
<!--                <th th:text="#{product.created}">created</th>-->
<!--                <th th:text="#{product.id}">id</th>-->
                <th th:text="#{product.bank}">bank</th>
                <th th:text="#{product.value}">value</th>
                <th th:text="#{product.openDate}">open_date</th>
                <th th:text="#{product.validityDate}">validity_date</th>
                <th th:text="#{product.interest}">interest</th>
                <th th:text="#{product.valueLimit}">value_limit</th>
                <th th:text="#{product.interestAboveLimit}">interest_above_limit</th>
                <th th:text="#{product.isActive}">is_active</th>
                <th th:text="#{product.notes}">notes</th>
                <th th:text="#{product.actions}">actions</th>
            </tr>


            <tr th:each="account: ${savingsAccounts}">
<!--                <td th:text="${account.created}"></td>-->
<!--                <td th:text="${account.id}"></td>-->
                <td th:text="${account.bank}"></td>
                <td th:text="${account.value}"></td>
                <td th:text="${account.openDate}"></td>
                <td th:text="${account.validityDate}"></td>
                <td th:text="${account.interest}" class="percentage"></td>
                <td th:text="${account.valueLimit}"></td>
                <td th:text="${account.interestAboveLimit}" class="percentage"></td>
                <td th:text="${account.isActive}"></td>
                <td th:text="${account.notes}"></td>
                <td>
                    <form action="/product/delete" method="post">
                        <input type="hidden" name="id" th:value="${account.id}">
                        <input type="submit" class="btn btn-danger" value="Delete">
                    </form>
                    <form action="/product/details" method="post">
                        <input type="hidden" name="id" th:value="${account.id}">
                        <input class="btn btn-info" type="submit" value="Details">
                    </form>
                </td>
            </tr>
        </table>
    </div>
</div>
<div th:replace="fragments/headerFooter:: footer"/>

<div th:if="${expiredData == 'productId'}" th:remove="tag">
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" th:if="${expiredData == 'productId'}" th:text="#{action.productIdNullmodal.head}">No
                        product id header</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <p th:if="${expiredData == 'productId'}" th:text="#{action.productIdNullmodal.text}">No product id
                        text</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
